
*{
	margin: 0;
	padding: 0;
	font-family: 'Mogra', cursive;
	font-size: 20px;
}
#container{
  height: 70px;
  background-color: #faa4b5;
}

ul{
  display: flex;
  justify-content: space-around;
}
a{
  margin-top: 20px;	
  color: #78054e;
  text-decoration:none;
  border-left: #78054e;
}
a:hover{
	background-size: 30px;
	background-color: #f18298;
	border: 10%;
}
