
*{
	margin: 0;
	padding: 0;
}
#container{
  height: 70px;
  background-color: #faa4b5;
}

ul{
  display: flex;
  justify-content: space-around;
}
a{
  margin-top: 20px;	
  text-decoration-color: #78054e;
  text-decoration:none;
}
